<div class="span6 hr">
  <h3>HR Page</h3>
  <p></p>
</div>
<div class="span4 well">
  <!--Body content-->
 <img src="http://maps.google.com/maps/api/staticmap?size=255x255&maptype=roadmap&sensor=false&markers=color:blue|label:A|Chicago,IL&markers=color:purple|label:B|Hammond,IN" alt="Static, Marked Map of Chicago, Illinois and Hammond, Indiana with no Center and Zoom" width=300></img>
  
</div>


