<div class="row-fluid">
  <div class="span10">
    <article>HR Page</article>
     <% @hrs.each do |hr| %>
    <h4><%= hr.name %></h4>
    <p><%= hr.content %></p>
    <% end %> 
    
    <aside>
       <%= link_to 'New HR', new_hr_path %> 
    </aside> 
    
  </div>  
</div>
<div class="row-fluid">
  <div class="span10">
    <center>
      <%= render "wikipages/maps" %>
    </center>
  </div>
</div>



