
<!--/body -->

<div align="center">

  <div id="myCarousel" class="carousel slide">  
    <!-- Carousel items --> 
  
    <div class="carousel-inner"> 
     
    
      <div class="item"><img src="http://www.hdwallpaperstop.com/wp-content/uploads/2013/07/free-desktop-wallpaper-widescreen-h.jpg" width="800" ></div>    
     
    
      <div class="item active"><img src=" http://wallpapersus.com/wallpapers/2012/11/Paris-Panoramic-View-768x1366.jpg" width="800" ></div> 
      
      <div class="item"><img src=" http://wallzoa.com/wp-content/uploads/2013/08/high-resolution-widescreen-desktop-wallpaper.jpg" width="800" ></div> 
    
   
      
    
    </div>  
    <!-- Carousel nav -->  
    <a class="carousel-control left" href="#myCarousel" data-slide="prev">‹</a>  
    <a class="carousel-control right" href="#myCarousel" data-slide="next">›</a>  
  </div> 
</div>
     
<div>
  <h3><center>The standard Lorem Ipsum passage, used since the 1500s</center></h3>
  <p>"Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?"</p>  
</div>            
            
        
   
 


