<ul class="nav nav-pills nav-stacked">
          <li class="dropdown active"><%= link_to "HR", hrs_path %></li> 
          <li class="dropdown-submenu active">
              <a tabindex="-1" href="#" >IT</a>
              <ul class="dropdown-menu">
                <li ><%= link_to "Help Desk", new_message_path %></li>
                <li ><%= link_to "Wiki", "#"%></li> 
                
              </ul>
            </li>     
        </ul> 